table{
    width: 100%;
   /*  margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0; */
}


table,th,td{
    border: 1px solid black;

 border-collapse: collapse; /* para que el border no se vea separado */
/* border-spacing: 5px;  para que haya un espacio entre las celdas */
padding: 5px;

}

 
caption{
    font-size: 45px;
    line-height: 70px;
    font-weight: bold;
    margin-bottom: 10px;
    color: cadetblue;
    font-family: 'Trochut', sans-serif;

} 


th{
    color: rgb(234, 225, 234);
    background-color: cadetblue;

}

/* reglones pares */
tr:nth-child(even){
    background-color: rgb(234, 225, 234);
}

/* reglones impares */
tr:nth-child(odd){
    background-color: rgb(222, 201, 230);
}










































