/* 
estilos para listas desordenadas
h1{
     
    color: rgb(223, 70, 70);
}
ul{
    list-style-type: none; 
    background-color: #2598d2;
    color: rgb(255, 255, 255); 
    overflow: hidden;
margin: 0;
padding: 0;

}

li{
    float: left;
}

li,a{
 display: block;
   color: #ffffff;
  text-align: center;
  padding: 5px  ;
text-decoration: none;

}

li a:hover{
    background-color: #107aae;
} */




/* estilo de listas estilo Excel */

ol{
    list-style: none;
counter-reset: unset;
}
ol li {
    counter-increment: contador;  
}

/* la funsion counter-increment: contador;  incrementa el contador de la lista */

ol  li::before{
    content: 'curso  ''(' counter(contador) ')  '; /* agregar algo o palabra, antes de que se muestre la lista */
    color: chocolate;
     
}
ol li::after{
    content: "."; /* agregar algo o palabra, despues de que se muestre la lista */
     
}

a{
    text-decoration: none;
}